<header class="d-flex justify-content-around py-3">
    <div>kon1z</div>
    <nav class="nav nav-pills">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="articles" Match="NavLinkMatch.All">
                <span>Articles</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                About
            </NavLink>
        </div>
    </nav>

    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" aria-label="Search"/>
    </form>
</header>